@media only screen and (max-width: 800px) {
  /* Not be visible on devices that are smaller than 800px*/
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }

  #Home .home-body{
    width: 60%;
    height: 30%;
    margin: 10rem 8rem;
  }
  #Home .home-body h2{
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #Home .home-body p{
    color: #464746;
    font-size: 20px;
  }

  /* About page style*/
  #About{
    padding: 2%;
    flex-wrap: wrap;
  }
  #About .profile{
    width: 90%;
    padding: .4rem .2rem;
  }  
  #About .profile .photo img{
    width: 60%;
    height: 40vh;
    margin-bottom: 2%;
  } 
  #About .profile .headers{
    margin-bottom: 0.3rem;
  } 
  #About .profile .headers h2{
    font-size: 30px;
  }
  #About .profile .headers h3{
    font-size: 28px;
  }

  #About .profile .skills h3{
    font-size: 26px;
    margin-bottom: 2%;
  }
  #About .profile .skill{
    font-size: 1.3rem;
  }
  #About .profile .skill .input{
    margin-left: 5px;
 }
 #About .bio{
  display: none;
}

  /* Project page style*/
#Project{
  padding: .8rem;
}
#Project .card{
  width: 90%;
  margin-bottom: .3rem;
  flex-wrap: wrap;
  justify-content: center;
}
#Project .card .image{
  width: 80%;
}
#Project .card .image .tooltip{
  /* Position the tooltip */
  margin-top: 100px;
}
#Project .card .description{
  display: none;
}

  #Contact .photo{
    display: none;
  }
  #Contact .contact-form .form-container button{
    width: 60%;
    margin-left: 6rem;
    border-radius: .8rem;
  }
  #Contact .contact-form .links{
    margin-left: 4rem;
  }
  #Contact .contact-form .links ul li{
    margin-left: 0.8px;
  }
  #Contact .contact-form{
    width: 90%;
    height: 75vh;
    border-radius: 5%;
  }
  #Contact .contact-form .form-container{
    height: 65vh;
    border: 2px solid red;
    margin-top: .9rem;
  }

}
@media only screen and (max-width: 400px) {
  #Home .home-body{
    width: 80%;
    height: 40%;
    margin: 10rem .9rem;
  }
  #About .profile .photo img{
    width: 60%;
    height: 30vh;
  } 
  .sidebar{
    width: 100%;
  }
  #Contact{
    padding: .5rem;
  }
  #Contact .contact-form .form-container button{
    width: 60%;
    margin-left: 3rem;
    border-radius: .8rem;
  }
  #Contact .contact-form .links{
    margin-left: 3rem;
  }
  #Contact .contact-form .links ul li{
    margin-left: 0.8px;
  }
  #Contact .contact-form{
    width: 80%;
    height: 75vh;
    border: 2px solid red;
  }
  #Contact .contact-form .form-container{
    height: 70vh;
    border: 2px solid rgb(128, 0, 255);
    margin-top: .9rem;
  }
  footer .footer-text{
    font-size: 16px;
 }
}