@media only screen and (max-width: 800px) {
  /* Not be visible on devices that are smaller than 800px*/
  .hideOnMobile{
    display: none;
  }
  .menu-btn{
    display: block;
  }

  #Home .home-body{
    width: 60%;
    height: 30%;
    margin: 10rem 8rem;
  }
  #Home .home-body h2{
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  #Home .home-body p{
    color: #464746;
    font-size: 20px;
  }

  /* About page style*/
  #About{
    padding: 2%;
    flex-wrap: wrap;
  }
  #About .profile{
    width: 90%;
    padding: .4rem .2rem;
  }  
  #About .profile .photo img{
    width: 50%;
    height: 30vh;
    margin-bottom: 2%;
  } 
  #About .profile .headers{
    margin-bottom: 0.3rem;
  } 
  #About .profile .headers h2{
    font-size: 25px;
  }
  #About .profile .headers h3{
    font-size: 22px;
  }

  #About .profile .skills h3{
    font-size: 20px;
    margin-bottom: 2%;
  }
  #About .profile .skill{
    font-size: 1.0rem;
  }
  #About .profile .skill .input{
    margin-left: 5px;
 }
 #About .bio{
  padding: 2%;
  width: 90%;
}
#About .bio h3{
  font-size: 25px;
  margin-bottom: 2%;
}
#About .bio p{
  font-size: 1.2rem;
  line-height: 1.5rem;
}
#About .bio input{
  margin-top: .3rem;
  padding: 2% 4%;
  font-size: 15px;
}

  #Contact .photo{
    display: none;
  }

  #Contact .contact-form .form-container button{
    width: 60%;
    margin-left: 6rem;
    border-radius: .8rem;
  }
  #Contact .contact-form .links{
    margin-left: 4rem;
  }
  #Contact .contact-form .links ul li{
    margin-left: 0.8px;
  }
  #Contact .contact-form{
    width: 90%;
    height: 78vh;
    border-radius: 5%;
  }
}
@media only screen and (max-width: 400px) {
  .sidebar{
    width: 100%;
  }
  
}